/* NewArrivals.css */

.new-arrivals-container {
  height: fit-content;
  /* Background color */
  padding: 20px;
}

.section-header {
  /* Consistent color scheme */
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 10px 0;
}

.section-header hr {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: -1; /* Place hr behind text */
  border: 0;
  height: 1px;
  background-color: #ccc; /* Light gray for hr */
}

.section-header span {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-size: 2.5rem; /* Use rem for better scalability */
  background: white;
  padding: 0 10px;
  z-index: 1;
  position: relative;
}

.section-header p {
  font-family: "Century Gothic", sans-serif;
  font-size: 0.75rem;
  color: #333;
}

.product-container {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Horizontal scroll */
  padding-bottom: 10px; /* Space for scrollbar (if visible) */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.product-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit browsers */
}

.product-card {
  flex: 0 0 250px; /* Fixed card width */
  margin: 0 10px; /* Space between cards */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden;
  position: relative;
}

.product-image {
  width: 100%;
  height: 400px; /* Fixed height for the image */
  object-fit: cover; /* Ensure the image covers the area without stretching */
  transition: transform 0.3s ease; /* Smooth image transition */
}

.product-card:hover .product-image {
  transform: scale(1.1); /* Slightly enlarge image on hover */
}


.product-name {
  font-size: 1rem;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  color: #333; /* Darker text color */
  margin-bottom: 5px; /* Space below product name */
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.product-price {
  color: #777; /* Slightly darker gray for better visibility */
  font-size: 0.875rem;
}

.like-button-container {
  background: none;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ensure LikeButton is centered */
.MuiIconButton-root {
 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile screens (up to 1023px) */
@media (max-width: 1023px) {
  .product-card {
    margin: 0 5px; /* Reduced margin for mobile */
    width: 200px; /* Smaller width */
  }

  .product-image {
    height: 200px; /* Smaller height for mobile */
  }

  .product-name {
    font-size: 0.875rem; /* Smaller font size */
  }

  .product-price {
    font-size: 0.75rem; /* Smaller font size */
  }
}

/* Larger screens (1024px and up) */
@media (min-width: 1024px) {
  .product-container {
    justify-content: space-between; /* Distribute space between cards */
  }

  .product-card {
    margin: 0; /* Remove extra margins */
  }
}
